* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Reglas para la barra de navegación */
.logo {
  float: left !important;
  display: block !important;
  padding-left: 10px !important;
  padding-top: 3px !important;
  color: white !important;
  text-align: center !important;
  text-decoration: none !important;
}

.navbar ul {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  background-color: #333 !important;
}

.navbar_item li a {
  display: block !important;
  color: white !important;
  height: 100% !important;
  text-align: center !important;
  padding: 14px 16px !important;
  text-decoration: none !important;
  float: right !important;
}

.navbar li a:hover {
  background-color: #111 !important;
}